apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: tazama

resources:
  - namespace.yaml
  - rules-minimal.yaml
  # To deploy full ruleset, uncomment next line.
  # - rules-full.yaml
