apiVersion: v1
kind: Secret
metadata:
  name: tw-tazama-infra-repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  type: git
  url: {{ git_url }}
  username: {{ git_username | default('') }}
  password: {{ git_password | default('') }}
